header {
    width: 100%;
    height: 50px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-bottom-style: solid;
    border-bottom-width: 100%;
    background-color: #6b5b95;
    border-bottom: solid 5px #a2b9bc;
}

footer {
    text-align: center;
}

.scoresPage{
    margin-top: 100px;
    text-align: center;
}

button{
    background-color: #b2ad7f;
    border-radius: 40px;
    font-size: 30px;
}